<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LABSOFT</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Save Report</h2>

    <form action="#" th:action="@{/saveReport}" th:object="${report}"
          method="post">
        <input type="text" th:field="*{reportNumber}"
               placeholder="Report Number" class="form-control mb-4 col-4">

        <input type="text" th:field="*{illnesTitle}"
               placeholder="Report Illnes Title" class="form-control mb-4 col-4">

        <input type="text" th:field="*{illnesDescription}"
               placeholder=" Report Illnes Description" class="form-control mb-4 col-4">

      <!--  <input type="text"
               th:field="*{patient.name}" placeholder="Patient Name"
               class="form-control mb-4 col-4">
        <input type="text"
               th:field="*{patient.surname}" placeholder="Patient Surname"
               class="form-control mb-4 col-4">-->
        <input type="date"
               th:field="*{reportDate}" placeholder="Report Date"
               class="form-control mb-4 col-4">
       <!-- <select
                class="form-control" required="required" th:value="${report.patient}"
                name="patient" id="patient">
            <option th:each="pat : ${patient}" th:value="${pat.id}"
                    th:text="${pat.name}"></option>
        </select>-->
        <hr>



        <button type="submit" class="btn btn-info col-2">SAVE REPORT</button>

        <a th:href ="@{/report.html}" class="btn btn-primary"> Back to Report List</a>
    </form>
</div>
</body>
</html>