<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LABSOFT</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">LABSOFT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/patient">PATIENT <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/laborant">LABORANT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report">REPORT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/logout">LOGOUT</button>
        </form>
    </div>
</nav>
<div class="container">
    <h1>LABSOFT MANAGEMENT SYSTEM</h1>
    <hr>
    <h2>Save Patient</h2>

    <form action="#" th:action="@{/saveReport}" th:object="${report}"
          method="post">
        <input type="text" th:field="*{reportNumber}"
               placeholder="Report Number" class="form-control mb-4 col-4">

        <input type="text" th:field="*{illnesTitle}"
               placeholder="Report Illnes Title" class="form-control mb-4 col-4">

        <input type="text" th:field="*{illnesDescription}"
               placeholder=" Report Illnes Description" class="form-control mb-4 col-4">




        <button type="submit" class="btn btn-info col-2">SAVE REPORT</button>

        <a th:href ="@{/report.html}" class="btn btn-primary"> Back to Report List</a>
    </form>
</div>
</body>
</html>