<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LABSOFT</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">LABSOFT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/patient">PATIENT <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/laborant">LABORANT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report">REPORT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/logout">LOGOUT</button>
        </form>
    </div>
</nav>

<div class="container my-2">

    <h1>Patient List</h1>
    <form th:action="@{/filter}" method="get">
        <input id="txtFilter" type="text" name="keyword" th:value="${patientFilterDto}"  placeholder="Search" size="50" >
        <button type="submit" class="btn btn-info" >Search</button>
        <button type="submit" class="btn btn-info" >Reset</button>
    </form>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Patient First Name</th>
            <th>Patient Last Name</th>
            <th>Patient National Identity </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient:${listPatients}">
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.surname}"></td>
            <td th:text="${patient.nationalIdentity}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${patient.id})}" class="btn btn-primary"> Update</a></td>
            <td> <a th:href="@{/deletePatient/{id}(id=${patient.id})}" class="btn btn-danger "> Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/showNewPatientForm}" class="btn btn-primary btn-sm mb-3"> Add Patient </a>
</div>
</body>
</html>
