<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LABSOFT</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <form class="form-inline my-2 my-lg-0"
          th:action="@{/showSearchResult}" method="POST">
        <input class="form-control mr-sm-4" name="search" id="search"
               th:value="*{search}" type="text" placeholder="Patient Name"
               aria-label="Search" size="23px" required>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

    <span th:switch="${listPatientSize}"> <span th:case="'0'">
				<br>
				<center>
					<h2>
						<div class="alert alert-danger">
							<i class="fas fa-exclamation-triangle"></i> <b>
								"[[${search}]]"</b> No results found for
						</div>
					</h2>
				</center>
		</span> <span th:case="*">
				<h3>
					<b>"[[${search}]]"</b> Results For...
				</h3>

				<h1>Patient List</h1> <a th:href="@{/showNewPatientForm}"
                                             class="btn btn-outline-success btn-sm mb-3">New Patient</a> <a
            th:href="@{/showNewLaborantForm}"
            class="btn btn-outline-success btn-sm mb-3">New Laborant</a> <a
            th:href="@{/showNewReportForm}"
            class="btn btn-outline-success btn-sm mb-3">New Report</a> <a
            th:href="@{/patient}" class="btn btn-outline-success btn-sm mb-3">Patient</a>
				<a th:href="@{/report}"
                   class="btn btn-outline-success btn-sm mb-3">Report</a>
		<a th:href="@{/laborant}"
		   class="btn btn-outline-success btn-sm mb-3">Laborant</a>

				<table border="1" class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th><a
                                    th:href="@{'/pagePatient/'+${currentPage}+'?sortField=movieName&sortDirection='+${reverseSortDirection}}">Patient
									Name</a></th>
							<th><a
									th:href="@{'/pagePatient/'+${currentPage}+'?sortField=movieName&sortDirection='+${reverseSortDirection}}">Patient
									Surname</a></th>
							<th><a
									th:href="@{'/pagePatient/'+${currentPage}+'?sortField=movieName&sortDirection='+${reverseSortDirection}}">Patient
									National Identity</a></th>
							<th><a
									th:href="@{'/pagePatient/'+${currentPage}+'?sortField=movieName&sortDirection='+${reverseSortDirection}}">Patient
									Birth Place</a></th>
							<th><a
									th:href="@{'/pagePatient/'+${currentPage}+'?sortField=movieName&sortDirection='+${reverseSortDirection}}">Patient
									Age</a></th>

							<th>Actions</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="patient : ${listPatients}">
							<td th:text="${patient.name}"></td>
							<td th:text="${patient.surname}"></td>
							<td th:text="${patient.nationalIdentity}"></td>
							<td th:text="${patient.birthPlace}"></td>
							<td th:text="${patient.age}"></td>

							<td><a th:href="@{/showFormForUpdate/{id}(id=${patient.id})}"
                                   class="btn btn-warning">Update</a>
								<hr> <a th:href="@{/deletePatient/{id}(id=${patient.id})}"
										class="btn btn-danger">Delete</a></td>

						</tr>
					</tbody>

				</table>

				<div th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
						<div class="col-sm-1">
							<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
                                    th:if="${currentPage != i}"
                                    th:href="@{'/pagePatient/' + ${i}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
								<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
								&nbsp;
							</span>
						</div>
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
                               th:href="@{'/pagePatient/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
							<span th:unless="${currentPage < totalPages}">Next</span>
						</div>

						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
                               th:href="@{'/pagePatient/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
							<span th:unless="${currentPage < totalPages}">Last</span>
						</div>
					</div>
				</div>
		</span>
		</span>
</div>
</body>
</html>
