<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LABSOFT</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
                    <h1>Report List</h1> <a th:href="@{/showNewPatientForm}"
                                         class="btn btn-outline-success btn-sm mb-3">New Patient</a> <a
            th:href="@{/showNewLaborantForm}"
            class="btn btn-outline-success btn-sm mb-3">New Laborant</a> <a
            th:href="@{/showNewReportForm}"
            class="btn btn-outline-success btn-sm mb-3">New Report</a> <a
            th:href="@{/patient}" class="btn btn-outline-success btn-sm mb-3">Patient</a>
				<a th:href="@{/report}"
                   class="btn btn-outline-success btn-sm mb-3">Report</a>
		<a th:href="@{/laborant}"
           class="btn btn-outline-success btn-sm mb-3">Laborant</a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Report Number </th>
            <th>Patient Name</th>
            <th>Patient Last Name</th>
            <th>Patient Illnes Title </th>
            <th>Report Illnes Description </th>
            <th>Report Date </th>
            <th>Report Folder </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report:${listReports}">
            <td th:text="${report.reportNumber}"></td>
            <div th:each="pat :${report.patient}">
                <td><span th:text="${pat.name}"> </span></td>
            </div>
            <div th:each="pat :${report.patient}">
                <td><span th:text="${pat.surname}"> </span></td>
            </div>
            <td th:text="${report.illnesTitle}"></td>
            <td th:text="${report.illnesDescription}"></td>

            <td th:text="${report.reportDate}"></td>
            <td> <img alt="Report" title="Report"/>
            </a></td>
            <td><a th:href="@{/showFormForUpdateReport/{id}(id=${report.id})}"
                   class="btn btn-warning">Update</a>
                <hr> <a th:href="@{/deleteReport/{id}(id=${report.id})}"
                        class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>
